{% extends "static/pages/_common/site.htm" %}

{% block main %}
<main class="container-full">
<div id='x-main' class="container-fluid mt-5 p-3">
<div class="row">
<div class="col-8"> </div>
<div class="col-4"> 
	<div class="card login-card m-4 bg-secondary text-light">
	  <div class="card-body">
		  <h5 class="card-title">Login</h5>
		  <form method="post" id="myform">
			<div class="form-group">
			  <label for="usernameInput">Username</label>
			  <input type="text" class="form-control" id="usernameInput" placeholder="Enter username" name="id">
			</div>
			<div class="form-group mt-2">
			  <label for="passwordInput">Password</label>
			  <input type="password" class="form-control" id="passwordInput" placeholder="Enter password" name="pwd">
			</div>
		  </form>
		  
		<button class="mt-4 btn btn-primary" data-do="web.login" data-form="myform">Submit</button>

		</div>
	  </div>  
  </div>
</div>
</div>

</main>
{% endblock %}	
