{% block header %}
<div id='x-header'>
	<nav class="navbar navbar-expand navbar-dark fixed-top bg-dark p-1">
	  <div class="container-fluid">
		<img src="https://www.asthrasoft.com/site/img/logo.png" style="height:25px"/>
		<p class="navbar-brand my-0 ms-2">Think Projects</p>
		
		<div class="collapse navbar-collapse" id="navbarCollapse">

		</div>
	  </div>
	</nav></div>
{% endblock %}

{% block main %}

{% endblock %}

{% block footer %}
<footer class="navbar navbar-expand navbar-dark fixed-bottom bg-dark p-1" style="height:30px">
  <div class="container-fluid1">
	<p class="text-light mt-3">&copy; Powered by <a href="https://thinkar.org" class="text-light">Thinkar Foundation</a></p>
  </div>
</footer>
{% endblock %}


