{% extends "static/pages/_common/base.htm" %}

{% block body %}
<div id='x-main' class="container-full mt-5 p-3">
<div class="container-md">
<div class="row">
<div class="col-12 p-2">
	<h3 class="float-start">Add New Project</h3>
	<button type="button" class="btn btn-primary float-end mx-2" data-nav='todo.projects'>Cancel</button>		
	<button type="button" class="btn btn-primary float-end mx-2" data-nav='todo.projects'>Save</button>		
</div>
</div>
<div id='x-challenge' class="container-float">

	<div class="row">
	<div class="col-6">
	  <label for="exampleFormControlInput1">Title</label>
	  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter New Project Name">
	</div>
	<div class="col-3">
	  <label for="exampleFormControlInput1">Start Date</label>
	  <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="Enter Start Date">
	</div>

	<div class="col-3">
	  <label for="exampleFormControlInput1">End Date</label>
	  <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="Enter End Date">
	</div>
<p>
	<div class="col-12">
	  <label for="exampleFormControlInput1">Desc</label>
	  <textarea type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Desc"></textarea>
	</div>
	
	</div>
</div>
</div>
{% endblock %}

